#root{
    -fx-background-image: url("../images/clouds.gif") no-repeat center center fixed;
    -fx-background-size: cover;
}

#iBoard{
    -fx-border-color: #154352;
    -fx-border-width: 10;
    -fx-border-style: solid;
    -fx-background-color: #B3E8D8;
   /* linear-gradient(#B94100 0%, #B94100 19%, #E55327 30%, #E55327 90%);*/
}

#right{
    -fx-pref-width: 35;
    -fx-pref-height: 35;
    -fx-background-color: #154352;
    -fx-background-image: url("../images/rightarrow.png");
    -fx-background-size: cover;
}

#left{
     -fx-pref-width: 35;
     -fx-pref-height: 35;

     -fx-background-color: #154352;
     -fx-background-image: url("../images/leftarrow.png");
     -fx-background-size: cover;
 }

#up{
    -fx-pref-width: 35;
    -fx-pref-height: 35;

    -fx-background-color: #154352;
    -fx-background-image: url("../images/uparrow.png");
    -fx-background-size: cover;
}

#down{
    -fx-pref-width: 35;
    -fx-pref-height: 35;

    -fx-background-color: #154352;
    -fx-background-image: url("../images/downarrow.png");
    -fx-background-size: cover;
}