#root{
    -fx-background-image: url("../images/clouds.gif") no-repeat center center fixed;
    -fx-background-size: cover;
}

#grid{
    -fx-border-color: #B94100;
    -fx-border-width: 10;
    -fx-border-style: solid;
    -fx-background-color: #E39F33;
   /* linear-gradient(#B94100 0%, #B94100 19%, #E55327 30%, #E55327 90%);*/
}

.button{
    -fx-background-radius: 500em;
    -fx-pref-width: 60;
    -fx-pref-height: 60;

    -fx-effect: dropshadow(three-pass-box , rgba(0, 0, 0, 0.7), -4, -4, 4, 4);

    -fx-background-image: url("../images/frontarrow.png");
    -fx-background-size: cover;
}