#scene{
    -fx-background-image: url("../images/clouds.gif") no-repeat center center fixed;
    -fx-background-size: cover;
}

.button{
    -fx-effect: dropshadow(three-pass-box , rgba(0, 0, 0, 0.7), 2, 2, 2, 2);

    -fx-background-radius: 10;
    -fx-text-fill: white;

    -fx-font: 20px "AngryBirds";

    -fx-pref-width: 130;
    -fx-pref-height: 55;

    -fx-background-color:
        linear-gradient(#FFE5A4 0%, #FFE5A4 19%, #FFBD31 30%, #FFBD31 90%);
}

#title{
    -fx-font: 90px "AngryBirds";
    -fx-fill: white;
    -fx-effect: dropshadow(three-pass-box , rgba(0, 0, 0, 0.7), 2, 2 , 2, 2);
}
